<main *ngIf="!isLoggedIn">
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">GPAO</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Réinitialiser mot de passe</h5>
                            <p class="text-center small">Entrez votre email & votre nouveau mot de passe</p>
                         </div>
                         <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="row g-3 needs-validation" novalidate>
                            <div class="col-12" >
                               <label for="yourUsername" class="form-label">Email :</label>
                               <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-envelope"></i></span> 
                                  <input formControlName="email" [(ngModel)]="email" [ngClass]="{'is-invalid':submitted && passwordForm.controls.email.errors}"type="text" name="username"  class="form-control" id="email">
                                  <div *ngIf="submitted && passwordForm.controls.email.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && passwordForm.controls.email.errors.required">
                                       L'email est obligatoire!
                                    </div>
                                    <div *ngIf="submitted && passwordForm.controls.email.errors.email">
                                        Veuillez entrer un email valide!
                                     </div>
                                 </div>
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" class="form-label">Nouveau mot de passe :</label> 
                               <input formControlName="password" [(ngModel)]="newPassword"  [ngClass]="{'is-invalid':submitted && passwordForm.controls.password.errors}"type="password" class="form-control" name="password" type="password"  class="form-control" id="yourPassword">
                               <div *ngIf="submitted && passwordForm.controls.password.errors" class="invalid-feedback">
                                <div *ngIf="submitted && passwordForm.controls.password.errors.required">
                                  Ce champs est obligatoire!
                                </div>
                             </div>
                            </div>
                            <div class="col-12">
                                <label for="confirmPassword" class="form-label">Confirmer le nouveau mot de passe :</label> 
                                <input formControlName="passwordConfirm" [(ngModel)]="newConfirmation" [ngClass]="{'is-invalid': submitted && passwordForm.controls.passwordConfirm.errors}" type="password" class="form-control" name="confirmPassword" id="confirmPassword">  
                                <div *ngIf="submitted && passwordForm.controls.passwordConfirm.errors?.required" class="invalid-feedback">
                                    Ce champ est obligatoire!
                                </div>
                                <div *ngIf="submitted && passwordForm.controls.passwordConfirm.errors?.mustMatch" class="invalid-feedback">
                                    Les mots de passe ne correspondent pas!
                                </div>   
                            </div>
                                                        
                            <div class="col-12"> 
                              <button class="btn btn-primary w-100" type="submit">Enregistrer</button>
                           </div>
                           
                            
         
                            
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>
