<main id="main" class="main">
   <div class="pagetitle">
      <h1>Paramètres Machines</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
            <li class="breadcrumb-item">Paramètres </li>
            <li class="breadcrumb-item active">Machines</li>
         </ol>
      </nav>
   </div>
   <section class="section profile">
      <div class="row">
         
         <div class="col-xl-10">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Liste des machines</button></li>
                     <li class="nav-item"> <button [ngClass]="{'disabled': isAuthorized}" class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Ajouter Machine</button></li>
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <table class="table datatable">
                           <thead>
                              <tr>
                                 <th scope="col">#</th>
                                 <th scope="col">Désignation</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let machine of machines; let i = index;">
                                 <th scope="row">{{ i + 1 }}</th>
                                 <td>{{machine.designation}}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <form [formGroup]="addForm"  (ngSubmit)="onSubmit()">
                           <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Désignation :</label>
                              <div class="col-md-2 col-lg-9"> 
                                 <input formControlName="desg" [(ngModel)] = "machine.designation" [ngClass]="{'is-invalid':submitted && addForm.controls.desg.errors}"name="fullName" type="text" class="form-control" id="fullName" >
                                 <div *ngIf="submitted && addForm.controls.desg.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && addForm.controls.desg.errors.required">
                                       Ce champs est obligatoire!
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row mb-3">
                              <label for="machine" class="col-md-4 col-lg-3 col-form-label"> Chaîne :</label>
                              <div class="col-md-8 col-lg-9"> 
                              <select  [(ngModel)] = "machine.chaine" formControlName="chaine" [ngClass]="{'is-invalid':submitted && addForm.controls.machines.errors}" class="form-select" aria-label="Default select example" (change)="selectChangeHandlerChaine($event)">
                                  <option value="{{chaine.id}}" *ngFor="let chaine of chaines">
                                     {{chaine.code}}
                                  </option>
                               </select>
                               </div>
                               <div *ngIf="submitted && addForm.controls.chaine.errors" class="invalid-feedback">
                                  <div *ngIf="submitted && addForm.controls.chaine.errors.required">
                                     Ce champs est obligatoire!
                                  </div>
                               </div>
                          </div>
                           <div class="text-center">
                              <button type="submit"  class="btn btn-primary">Enregistrer</button> 
                              <button type="reset" class="btn btn-secondary">Annuler</button>
                           </div>
                           
                        </form>
                     </div>
                     <div class="tab-pane fade pt-3" id="profile-settings">
                        <form>
                           <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                              <div class="col-md-8 col-lg-9">
                                 <div class="form-check"> <input class="form-check-input" type="checkbox" id="changesMade" checked> <label class="form-check-label" for="changesMade"> Changes made to your account </label></div>
                                 <div class="form-check"> <input class="form-check-input" type="checkbox" id="newProducts" checked> <label class="form-check-label" for="newProducts"> Information on new products and services </label></div>
                                 <div class="form-check"> <input class="form-check-input" type="checkbox" id="proOffers"> <label class="form-check-label" for="proOffers"> Marketing and promo offers </label></div>
                                 <div class="form-check"> <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled> <label class="form-check-label" for="securityNotify"> Security alerts </label></div>
                              </div>
                           </div>
                           <div class="text-center"> 
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade pt-3" id="profile-change-password">
                        <form>
                           <div class="row mb-3">
                              <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                           </div>
                           <div class="text-center"> <button type="submit" class="btn btn-primary">Change Password</button></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>