<main id="main" class="main">
    <div class="pagetitle">
       <h1>Avancement Ordre de fabrication</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
             <li class="breadcrumb-item">Liste des OF</li>
             <li class="breadcrumb-item active">Avancement Ordre de fabrication</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
            <div class="card">
               <div class="card-body pb-0">
                  <h5 class="card-title">Pourcentage des pièces défaillantes </h5>
                  <div id="budgetChart" style="min-height: 400px;" class="echart"></div>
               
            </div>
         </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Période de fabrication prévue VS Période de fabrication actuelle</h5>
                  <div id="AlineChart"></div>
               </div>
            </div>
         </div>
          
          
          
          
          
          
       
       </div>
    </section>
 </main>