<main id="main" class="main">
   <div class="pagetitle">
      <h1>Détails Utilisateur</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
            <li class="breadcrumb-item">Saisie</li>
            <li class="breadcrumb-item active">Liste des utilisateurs</li>
            <li class="breadcrumb-item active">Détails utilisateur</li>
         </ol>
      </nav>
   </div>
   <section class="section profile">
      <div class="row">
         <div class="col-xl-8">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vue d'ensemble</button></li>
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <div class="row"></div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label ">Email:</div>
                           <div class="col-lg-9 col-md-8">{{user.email}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Nom et prénom : </div>
                           <div class="col-lg-9 col-md-8">{{user.name}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Role :</div>
                           <div class="col-lg-9 col-md-8" *ngFor="let role of user.roles">{{role.name}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Numéro Téléphone :</div>
                           <div class="col-lg-9 col-md-8">{{user.numTel}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Adresse :</div>
                           <div class="col-lg-9 col-md-8">{{user.adresse}}</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>