.disabled {
    opacity: 0.5; /* Réduire l'opacité pour simuler un élément désactivé */
    pointer-events: none; /* Désactiver les interactions de l'élément */
    cursor: not-allowed; /* Changer le curseur de la souris pour indiquer qu'il est désactivé */
  }